/*div {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
/*    animation: myfirst 5s;
}*/

/* Chrome, Safari, Opera */
/*@-webkit-keyframes myfirst {
    from {background: red;}
    to {background: yellow;}
}*/
div{
	width: 200px;
	height: 200px;
	margin: 4px;
	float: left;
	border: 3px solid black;
	background: white;
	-webkit-animation: myfirst 3s;
}

@-webkit-keyframes myfirst {
    0% {background: red;}
    33% {background: yellow;}
    66% {background: blue;}
    100% {background: green;}
}